@model List<proyectoFinal.Models.Producto>;

<h2>Lista Productos</h2>
<p>
    <a asp-controller="Producto" asp-action="Nuevo" class="btn btn-primary m-3">
        Nuevo
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Producto</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Inventario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.descripcionProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.precioProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.stock)</td>
                <td>
                    <a asp-action="Lista" asp-controller="Inventario" asp-route-id="@item.IdProducto" class="btn btn-sm btn-info">Ver Inventario</a>
                </td>
                        
            </tr>
        }
    </tbody>
</table>
