@model List<proyectoFinal.Models.Cliente>;

@{
    ViewData["Title"] = "Lista Cliente";
    Layout = "_Layout";
}
<h2>Lista Clientes</h2>
<p>
    <a asp-controller="Cliente" asp-action="Nuevo" class="btn btn-primary m-3">
        Nuevo
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Cliente</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.idCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.nombreCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.email)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.idCliente" class="btn btn-sm btn-warning">Editar</a>
                    
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.idCliente" class="btn btn-sm btn-warning">Editar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
